<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Excluir Música</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

    <style>
        body { background: black; }
        .btn-main {
            background: #fb4300; color: white;
            transition: 0.3s;
        }
        .btn-main:hover { background: black; color: white; }
        .btn-secondary {
        background-color: #fb4300;
        color: white;
        }
        
    </style>
</head>

<body>
<a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Homepage</a>

<div class="container mt-4">
    <div class="card p-4">

        <h3>Excluir Música</h3>

        <form action="/excluirMusica" method="POST">
            <label class="form-label">Nome da música:</label>
            <input type="text" name="musica" class="form-control" required>

            <button class="btn btn-danger mt-3">Excluir</button>
        </form>

    </div>
</div>

</body>
</html>
